In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('SampleDayData.csv')
df1 = pd.read_csv('19thAprilSampleData.csv')
df2 = pd.read_csv('22ndAprilSampleData.csv')

In [22]:
df.describe() #tried to see distribution of overall data

             Volume
count  3.900000e+01
mean   7.445075e+05
std    7.447872e+05
min    7.501300e+04
25%    3.024845e+05
50%    4.054970e+05
75%    8.007785e+05
max    3.422432e+06

In [23]:
df.head()
#df1.head()
#df2.head() #analysing data for each frame (just used comments for my rough work)

       Date Stock Name  Volume
0  01/03/24        ABC  330327
1  02/03/24        ABC   75013
2  04/03/24        ABC  290739
3  05/03/24        ABC  426920
4  06/03/24        ABC  548822

In [24]:
df['Stock Name'].unique()#observed every stock name is same "ABC" ie one stock data

array(['ABC'], dtype=object)

In [25]:
df1['Last Traded Quantity'] = df1['Last Traded Quantity'].apply(lambda x: np.nan if x < 0 else x)
df2['Last Traded Quantity'] = df2['Last Traded Quantity'].apply(lambda x: np.nan if x < 0 else x)
df['Volume'] = df['Volume'].apply(lambda x: np.nan if x < 0 else x)
df.head()#makew sure data is consistent with real life values ie negative volume cannot exist

       Date Stock Name  Volume
0  01/03/24        ABC  330327
1  02/03/24        ABC   75013
2  04/03/24        ABC  290739
3  05/03/24        ABC  426920
4  06/03/24        ABC  548822